@tailwind base;
@tailwind components;
@tailwind utilities;

.form {
  @apply flex flex-col justify-center items-center lg:w-1/2 h-4/5 w-full gap-3 border text-white 
}
.p-t-10 {
  padding-top: 10vh; /* This sets the padding-top to 30% of the viewport height */
}
.input {
  @apply border glass-effect rounded-full py-4 px-4 mb-3 bg-opacity-5 transition-opacity;
  transition: background-color 0.2s ease-in-out; /* Transition for background color change */
  padding-right: 12rem;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.input:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Background color on hover */
}
.input-icon {
  @apply -ml-[50px] -mt-[9px] z-10 w-10 h-7
}
.logo {
  @apply font-bold lg:text-6xl mb-5 text-5xl
}
.btn {
  @apply py-3 rounded-2xl font-bold text-lg -mr-2
}
.error-msg {
  @apply text-sm text-red-500 pl-3 mb-1
}
.glass-effect {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255);
}